@page "/EstadisticasTiempoReal"
@inject NavigationManager NavigationManager
@inject UserSessionService UserSessionService
@using Microsoft.EntityFrameworkCore
@using Lab.Data
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory

@rendermode InteractiveServer

<h3>Estadisticas Tiempo Real</h3>

<button class=" btn  btn-secondary btn-lg" @onclick="HomeRed">
    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Volver
</button>

@code {
    private LabContext? context;

    protected override async Task OnInitializedAsync()
    {
        context = await DbFactory.CreateDbContextAsync();
        if (!UserSessionService.IsUserLoggedIn())
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        // Verificar el rol del usuario
        if (!UserSessionService.HasRole("GerenteCalidad"))
        {
            var (username, role) = UserSessionService.GetCurrentSession();

            // Redirigir basado en el rol del usuario
            switch (role)
            {
                case "Operario":
                    NavigationManager.NavigateTo("/cubiculo");
                    break;
                case "Administrador":
                    NavigationManager.NavigateTo("/Admin");
                    break;
                default:
                    NavigationManager.NavigateTo("/");
                    break;
            }
            return;
        }


    }

    private void HomeRed()
    {
        Console.WriteLine($"ENTRE");
        var (username, role) = UserSessionService.GetCurrentSession();
        // Redirigir basado en el rol del usuario
        switch (role)
        {
            case "Administrador":
                NavigationManager.NavigateTo("/admin");
                Console.WriteLine($"Oficina seleccionada: {username}");
                break;
            case "Operario":
                NavigationManager.NavigateTo("/cubiculo");
                Console.WriteLine($"Oficina seleccionada: {username}");
                break;
            case "GerenteCalidad":
                NavigationManager.NavigateTo("/gerente-calidad");
                Console.WriteLine($"Oficina seleccionada: {username}");
                break;
            default:
                Console.WriteLine($"Oficina seleccionada: {username}");
                Console.WriteLine($"Oficina seleccionada: {role}");
                NavigationManager.NavigateTo("/");
                break;
        }
    }
}
