@page "/operarios"
@using Lab.Components.Models
@inject UserSessionService UserSessionService // Inyección del servicio de sesión

<h3>Página de Operario</h3>

<p>Username: @username</p>
<p>Role: @role</p>

@code {
    private string username;
    private string role;

    protected override void OnInitialized()
    {
        // Obtener el nombre de usuario de la sesión actual
        var session = UserSessionService.GetCurrentSession(); // Sin necesidad de pasar el nombre de usuario

        username = session.username ?? "No user";
        role = session.role ?? "No role";
    }
}