Lab/.vs/Lab/DesignTimeBuild/.dtbcache.v2
Lab/.vs/Lab/v17/.suo
Lab/.vs/Lab/v17/DocumentLayout.json
Lab/obj/Debug/net8.0/Lab.AssemblyInfo.cs
Lab/obj/Debug/net8.0/Lab.AssemblyInfoInputs.cache
Lab/obj/Debug/net8.0/Lab.assets.cache
Lab/obj/Debug/net8.0/Lab.GeneratedMSBuildEditorConfig.editorconfig
Lab/obj/Lab.csproj.nuget.dgspec.json
Lab/obj
Lab/Migrations/20241014213525_mssql.local_migration_557.Designer.cs
Lab/Migrations/20241014213525_mssql.local_migration_557.cs
Lab/Lab.sln
Lab/Lab.csproj
Lab/.vs/ProjectEvaluation
Lab/.vs/Lab/v17/.futdcache.v2
