@page "/administradors/create"
@using Microsoft.EntityFrameworkCore
@using Lab.Components.Models
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Administrador</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Administrador" OnValidSubmit="AddAdministrador" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="username" class="form-label">UserName:</label>
                <InputText id="username" @bind-Value="Administrador.Username" class="form-control" />
                <ValidationMessage For="() => Administrador.Username" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label> 
                <InputText id="password" @bind-Value="Administrador.Password" class="form-control" /> 
                <ValidationMessage For="() => Administrador.Password" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/administradors">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Administrador Administrador { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAdministrador()
    {
        using var context = DbFactory.CreateDbContext();
        context.Administrador.Add(Administrador);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/administradors");
    }
}
