@page "/administradors/details"
@using Microsoft.EntityFrameworkCore
@using Lab.Components.Models
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@inject NavigationManager NavigationManager
@inject UserSessionService UserSessionService

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Administrador</h2>
    <hr />
    @if (administrador is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Password</dt>
            <dd class="col-sm-10">@administrador.Password</dd>
        </dl>
        <div>
            <a class=" btn  btn-secondary btn-lg" href="@($"/administradors/edit?username={administrador.Username}")">Edit</a> |
            <a class=" btn  btn-secondary btn-lg" href="@($"/administradors")">Back to List</a>
        </div>
    }
</div>

@code {
    private Administrador? administrador;

    [SupplyParameterFromQuery]
    private string Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        if (!UserSessionService.IsUserLoggedIn())
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        // Verificar el rol del usuario
        if (!UserSessionService.HasRole("Administrador"))
        {
            var (username, role) = UserSessionService.GetCurrentSession();

            // Redirigir basado en el rol del usuario
            switch (role)
            {
                case "Operario":
                    NavigationManager.NavigateTo("/cubiculo");
                    break;
                case "GerenteCalidad":
                    NavigationManager.NavigateTo("/gerente-calidad");
                    break;
                default:
                    NavigationManager.NavigateTo("/");
                    break;
            }
            return;
        }
        administrador = await context.Administrador.FirstOrDefaultAsync(m => m.Username == Username);

        if (administrador is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
