@page "/monitors/{oficinaId:int}"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@implements IAsyncDisposable
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@using Lab.Components.Models
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Monitor - Oficina @OficinaId </h1>

@if (tramiteResaltadoId.HasValue)
{
    <div class="alert alert-warning text-center" style="font-size: 40px; margin-bottom: 30px;">
        <strong>Turno del cliente con el tramite:</strong> Nro Trámite: @tramiteResaltadoId 
    </div>
}

@if (TramitesActivos != null && TramitesActivos.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nro Trámite</th>
                <th>Cédula Cliente</th>
                <th>Nro Puesto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tramite in TramitesActivos)
            {
                <tr class="@(tramiteResaltadoId == tramite.NroTramite ? "table-warning" : "")">
                    <td>@tramite.NroTramite</td>
                    <td>@tramite.CedulaCliente</td>
                    <td>@tramite.NroPuesto</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay trámites activos.</p>
}

@code {
    [Parameter] public int OficinaId { get; set; }

    private List<Tramite> TramitesActivos { get; set; } = new();
    private HubConnection hubConnection;
    private int? tramiteResaltadoId; 

    protected override async Task OnInitializedAsync()
    {
        await LoadTramites();

        // Configurar conexión de SignalR
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/tramiteHub"))
            .Build();

        // Escuchar el evento "ReceiveTramiteUpdate" para recargar trámites activos
        hubConnection.On("ReceiveTramiteUpdate", async () =>
        {
            await LoadTramites();  
            tramiteResaltadoId = null;
            await InvokeAsync(StateHasChanged); 
        });

        // Escuchar el evento "ReceiveLlamarDeNuevo" para resaltar un trámite específico
        hubConnection.On<int>("ReceiveLlamarDeNuevo", (nroTramite) =>
        {
            tramiteResaltadoId = nroTramite;  // Asignar el ID del trámite a resaltar
            InvokeAsync(StateHasChanged); 
        });

        await hubConnection.StartAsync();
    }

    private async Task LoadTramites()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        TramitesActivos = await context.Tramite
            .Where(t => t.idOficina == OficinaId && t.FechaFin == null)  // Filtrar por el ID de la oficina y FechaFin nula
            .ToListAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
