@page "/operarios/create"
@using Microsoft.EntityFrameworkCore
@using Lab.Components.Models
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Operario</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Operario" OnValidSubmit="AddOperario" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="username" class="form-label">UserName:</label>
                <InputText id="username" @bind-Value="Operario.Username" class="form-control" />
                <ValidationMessage For="() => Operario.Username" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <InputText id="password" @bind-Value="Operario.Password" class="form-control" />
                <ValidationMessage For="() => Operario.Password" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="numerooperario" class="form-label">NumeroOperario:</label> 
                <InputNumber id="numerooperario" @bind-Value="Operario.NumeroOperario" class="form-control" /> 
                <ValidationMessage For="() => Operario.NumeroOperario" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="puestoasignadoid" class="form-label">PuestoAsignadoId:</label> 
                <InputNumber id="puestoasignadoid" @bind-Value="Operario.PuestoAsignadoId" class="form-control" /> 
                <ValidationMessage For="() => Operario.PuestoAsignadoId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label> 
                <InputText id="password" @bind-Value="Operario.Password" class="form-control" /> 
                <ValidationMessage For="() => Operario.Password" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/operarios">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Operario Operario { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddOperario()
    {
        using var context = DbFactory.CreateDbContext();
        context.Operario.Add(Operario);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/operarios");
    }
}
