@page "/operarios"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Lab.Components.Models
@using Lab.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@inject UserSessionService UserSessionService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="operarios/create">Create New</a>
</p>

@if (context != null)
{
    <QuickGrid Class="table" Items="context.Operario">
        <PropertyColumn Property="operario => operario.NumeroOperario" />
        <PropertyColumn Property="operario => operario.PuestoAsignadoId" />
        <PropertyColumn Property="operario => operario.Password" />

        <TemplateColumn Context="operario">
            <a href="@($"operarios/edit?username={operario.Username}")">Edit</a> |
            <a href="@($"operarios/details?username={operario.Username}")">Details</a> |
            <a href="@($"operarios/delete?username={operario.Username}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>

    <button class=" btn  btn-secondary btn-lg" @onclick="HomeRed">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Volver
    </button>
}
else
{
    <p>Loading data...</p>
}

@code {
    private LabContext? context;

    protected override async Task OnInitializedAsync()
    {
        context = await DbFactory.CreateDbContextAsync();
        if (!UserSessionService.IsUserLoggedIn())
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        // Verificar el rol del usuario
        if (!UserSessionService.HasRole("Administrador"))
        {
            var (username, role) = UserSessionService.GetCurrentSession();

            // Redirigir basado en el rol del usuario
            switch (role)
            {
                case "Operario":
                    NavigationManager.NavigateTo("/cubiculo");
                    break;
                case "GerenteCalidad":
                    NavigationManager.NavigateTo("/gerente-calidad");
                    break;
                default:
                    NavigationManager.NavigateTo("/");
                    break;
            }
            return;
        }

       
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

    private void HomeRed()
    {
        Console.WriteLine($"ENTRE");
        var (username, role) = UserSessionService.GetCurrentSession();
        // Redirigir basado en el rol del usuario
        switch (role)
        {
            case "Administrador":
                NavigationManager.NavigateTo("/admin");
                Console.WriteLine($"Oficina seleccionada: {username}");
                break;
            case "Operario":
                NavigationManager.NavigateTo("/cubiculo");
                Console.WriteLine($"Oficina seleccionada: {username}");
                break;
            case "GerenteCalidad":
                NavigationManager.NavigateTo("/gerente-calidad");
                Console.WriteLine($"Oficina seleccionada: {username}");
                break;
            default:
                Console.WriteLine($"Oficina seleccionada: {username}");
                Console.WriteLine($"Oficina seleccionada: {role}");
                NavigationManager.NavigateTo("/");
                break;
        }
    }
}
