@page "/oficinas/create"
@using Microsoft.EntityFrameworkCore
@using Lab.Components.Models
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create Oficina</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="@Oficina" OnValidSubmit="AddOficina" FormName="create">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/oficinas">Back to List</a>
</div>

@code {
    private Oficina Oficina { get; set; } = new();

    private async Task AddOficina()
    {
        using var context = DbFactory.CreateDbContext();
        context.Oficina.Add(Oficina);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/oficinas");
    }
}
