@page "/oficinas/create"
@using Microsoft.EntityFrameworkCore
@using Lab.Components.Models
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create Oficina</PageTitle>

<h1>Crear Oficina</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-primary" @onclick="AddOficina">Crear Oficina</button>
    </div>
</div>

@code {
    private async Task AddOficina()
    {
        using var context = DbFactory.CreateDbContext();

        var nuevaOficina = new Oficina
            {
                // No es necesario asignar el ID si la base de datos lo maneja automáticamente
                ListaPuestos = new List<Puesto>() // Lista vacía de puestos
            };

        context.Oficina.Add(nuevaOficina);
        await context.SaveChangesAsync();

        // Redirigir a la lista de oficinas después de crear la nueva oficina
        NavigationManager.NavigateTo("/oficinas");
    }
}
