@page "/oficinas/create"
@using Microsoft.EntityFrameworkCore
@using Lab.Components.Models
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Oficina</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Oficina" OnValidSubmit="AddOficina" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/oficinas">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Oficina Oficina { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddOficina()
    {
        using var context = DbFactory.CreateDbContext();
        context.Oficina.Add(Oficina);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/oficinas");
    }
}
