@page "/oficinas/details"
@using Microsoft.EntityFrameworkCore
@using Lab.Components.Models
@inject IDbContextFactory<Lab.Data.LabContext> DbFactory
@inject NavigationManager NavigationManager
@inject UserSessionService UserSessionService

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Oficina</h2>
    <hr />
    @if (oficina is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
        </dl>
        <div>
            <a class=" btn  btn-secondary btn-lg" href="@($"/oficinas/edit?idoficina={oficina.idOficina}")">Edit</a> 
            <br/>
            <a class=" btn  btn-secondary btn-lg" href="@($"/oficinas")">Back to List</a>
        </div>
    }
</div>

@code {
    private Oficina? oficina;

    [SupplyParameterFromQuery]
    private int idOficina { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        if (!UserSessionService.IsUserLoggedIn())
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        // Verificar el rol del usuario
        if (!UserSessionService.HasRole("Administrador"))
        {
            var (username, role) = UserSessionService.GetCurrentSession();

            // Redirigir basado en el rol del usuario
            switch (role)
            {
                case "Operario":
                    NavigationManager.NavigateTo("/cubiculo");
                    break;
                case "GerenteCalidad":
                    NavigationManager.NavigateTo("/gerente-calidad");
                    break;
                default:
                    NavigationManager.NavigateTo("/");
                    break;
            }
            return;
        }
        oficina = await context.Oficina.FirstOrDefaultAsync(m => m.idOficina == idOficina);

        if (oficina is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
